# .gitignore

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
*.venv
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Logs
logs/
*.log

# Temp files
*.tmp
*.swp
*.swo